* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* pick fonts later */
    /* font-family: Arial, Helvetica, sans-serif; */
}

.card a:hover {
    color: #ffc926;
}

.comment-link:hover {
    color: #ffc926;
}

.custom-box-shadow {
    transition: box-shadow .3s;
}

.custom-box-shadow:hover {
    box-shadow: 5px 5px 11px 5px rgba(33, 33, 33, .2);
}

.post-body {
    max-height: 175px;
}

.comment-body {
    max-height: 200px;
}

.comment-name-size {
    font-size: .93rem;
}

.comment-font {
    line-height: 100%;
    /* background-color: #ffc926; */
}

ul {
    list-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Media query for only large screen */

.comment-body::-webkit-scrollbar-track,
.post-body::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f500;
}

.comment-body::-webkit-scrollbar,
.post-body::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f500;
}

.comment-body::-webkit-scrollbar-thumb,
.post-body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #e7e7e7;
}

/* just for comment body hide horizontal scroll */
